/*1*/
article section:first-of-type ul:first-of-type li {
  color: black;
}

/*2*/
li {
  display: inline;
}

/*3*/
section:nth-child(odd) {
  border: solid;
}

/*4*/
li:nth-child(even) {
  background: lime;
}

/*5*/
aside:first-child {
  color: blue;
}

/*6*/
div:first-of-type {
  float: right;
}

